{% assign sections = site.data.about_sections | sort:"sort_order" %}
{% assign sectionsLengthMinusOne = sections.size | minus: 1 %}

{% for i in (0..sectionsLengthMinusOne) %}
{% assign next_i = forloop.index0 | plus: 1 %}
{% assign remainder = i | modulo:2 %}
{% if remainder == 0 %}

<div class="row">

    <div class="column">
        <h2 class="linkbar">{{ sections[i].title }}</h2>
        <h3>{{ sections[i].description }}</h3>
        <ul>
            {% for item in sections[i].list %}
            <li>
                {{ item }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="column">
        <h2 class="linkbar">{{ sections[next_i].title }}</h2>
        <h3>{{ sections[next_i].description }}</h3>

        <ul>
            {% for item in sections[next_i].list %}
            <li>
                {{ item }}
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% else %}
{% continue %}
{% endif %}
<hr>
{% else %}
<p>No elements found in for loop</p>
{% endfor %}