---
---

@import "{{ site.theme }}";

.current {
  color: #00c7c7;
}
.linkbar {
  color: #009696;
}
#header nav {
  background: url(../images/nav-bg.gif) #353535;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 2pt;
  font-size: 110%;
}
section #title {  margin-bottom: 10px; padding-bottom: 5px; }