---
---

@import "{{ site.theme }}";

.current {
    // color: #ffcc00;
    color: #00c7c7;
}
// .linkbar { color: red; }
.linkbar {
    color: #009696;
}
// a:hover { color: #ffeb9b; }
#header nav {
  //   background-color: #353535;
  background: url(../images/nav-bg.gif) #353535;
  position: absolute;
//   color: #00a8a8;
  color: red;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 2pt;
  font-size: 110%;
}
