---
---

@import "{{ site.theme }}";

.current {
  color: #00a8a8;
  //   color: rgb(41, 240, 37);
}
// .linkbar { color: red; }
.linkbar {
  color: #ffcc00;
}
// a:hover { color: #ffeb9b; }
#header nav {
  //   background-color: #353535;
  background: url(../images/nav-bg.gif) #353535;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 2pt;
  font-size: 110%;
}
