---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
    {{ page.date | date_to_string }} - {{ page.topic }}
    {% assign topic = site.topics | where: 'topic_id', page.topic | first %}
    {% if topic %}
    - Topic: <a href="{{ topic.url }}">{{ topic.title }}</a>
    {% endif %}
</p>

<p>
  {{ page.date | date_to_string }}
  {% assign contributor = site.contributors | where: 'short_name', page.contributor | first %}
  {% if contributor %}
    - <a href="{{ contributor.url }}">{{ contributor.name }}</a>
  {% endif %}
</p>

{{ content }}